.menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item, .menu-sub {
  min-height: 40px;
  line-height: 40px;
  cursor: pointer;
  background-color: transparent;
  transition: color .3s, background-color .3s;
  outline: none;
  color: var(--color-white7);

  &.active, &:hover {
    background-color: rgba(0, 0, 0, .4);
    color: var(--color-white);

  }
}
.menu-item-title-wrap {
  padding-right: 24px;
}
.menu-item-title {
  text-indent: 10px;
}
.menu-sub-content {
  transition: height .3s;
  height: auto;
}

.menu-sub-content:not(.open) {
  height: 0;
  overflow: hidden;
}
