.menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--color-white);
}

.menu-item, .menu-sub {
  min-height: 40px;
  line-height: 40px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color .3s;

  >.menu-item-title {
    outline: none;
    padding: 0 10px;
    &.active, &:hover {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}
.menu-sub-content {
  transition: height .3s;
  height: auto;
}
.menu-sub-content:not(.open) {
  height: 0;
  overflow: hidden;
}

.menu-item-title {
  text-indent: 10px;
}
