<p-table [value]="cars" styleClass="p-datatable-gridlines p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th>Brand</th>
      <th>LastYearSale</th>
      <th>ThisYearSale</th>
      <th>LastYearProfit</th>
      <th>ThisYearProfit</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>{{car.brand}}</td>
      <td>{{car.lastYearSale}}</td>
      <td>{{car.thisYearSale}}</td>
      <td>{{car.lastYearProfit}}</td>
      <td>{{car.thisYearProfit}}</td>
    </tr>
  </ng-template>
</p-table>
