.header {
  padding: 0 24px;
  box-sizing: border-box;
  height: 60px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--border-color);
}

.action-item {
  margin-right: 10px;
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  cursor: pointer;
  >.pi {
    font-size: 20px;
  }
  &:hover {
    background-color: #dee2e6;
  }
}
