/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
[data-flex="dir:left"]>[data-flex-box] {
  width: 0;
}
[data-flex="dir:top"]>[data-flex-box] {
  height: 0;
}
