<ng-container *ngTemplateOutlet="menuTpl; context: {menus: menus, level: 0}"></ng-container>
<ng-template #menuTpl let-menus="menus" let-level="level">
  <ul class="menu">
    <ng-container *ngFor="let menu of menus">
      <li class="menu-item" routerLinkActive="active" (click)="handleJump(menu.path)" [routerLink]="menu.path" *ngIf="!menu.items">
        <div class="menu-item-title-wrap" [style.paddingLeft]="getPaddingLeft(level)" data-flex="dir:left cross:center">
          <i class="pi pi-user" *ngIf="level === 0"></i>
          <span data-flex-box="1" class="menu-item-title">{{menu.name}}</span>
        </div>
      </li>
      <li class="menu-sub" *ngIf="menu.items">
        <div class="menu-item-title-wrap" [style.paddingLeft]="getPaddingLeft(level)" (click)="menu.open = !menu.open" data-flex="dir:left cross:center">
          <i class="pi pi-user"></i>
          <span data-flex-box="1" class="menu-item-title">{{menu.name}}</span>
          <i class="pi" [class.pi-angle-up]="getIsMatch(menu)" [class.pi-angle-down]="!getIsMatch(menu)"></i>
        </div>
        <div class="menu-sub-content" [class.open]="getIsMatch(menu)">
          <ng-container *ngTemplateOutlet="menuTpl; context: {menus: menu.items, level: level + 1}"></ng-container>
        </div>
      </li>
    </ng-container>
  </ul>
</ng-template>
